body {
}
* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    /* a 태그 클릭 범위 늘리기 */
    display:block;
}
/* 전체 사이즈 */
#wrap {
    width: 800px;
    margin: 0 auto;
    position: relative;
}
/* 모든 div 설정 */
div {
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
/* 뒤에 백그라운드 사진 */
#background_image {
    margin: 0;
    padding: 0;
    position: absolute;
    background: url('0504/miyeon.jpg') no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 100%;
    opacity: 0.3;
    z-index: -999999;
}

#header {
    background-color: yellow;
    height: 50px;
    line-height: 50px;
}
/* 메뉴 설정 */
#navigation {
    height: 90px;
    position: relative;
}

    #navigation > ul.menu {
        overflow: hidden;
        width: 600px;
        margin: 0 auto;
        font-weight: bold;
    }

    #navigation p {
        margin: 10px;
    }

    #navigation > ul.menu > li {
        float: left;
        background-color: pink;
        text-align: center;
        width: 100px;
        margin: 3px;
        padding: 5px;
    }
    /* 메뉴 버튼 둥글리기 */
    #navigation ul li:first-child {
        border-radius: 20px 0 0 20px;
    }

    #navigation ul li:last-child {
        border-radius: 0 20px 20px 0;
    }
    /* 서브메뉴 */
    #navigation .submenu {
        display: none;
    }

    #navigation .menu > li:hover .submenu {
        display: block;
    }
    
/* section 영역 */
#section {
    overflow: hidden;
}

    #section div {
        float: left;
    }

    #section #content {
        width: 500px;
        height: 300px;
    }

    #section #banner {
        width: 234px;
        height: 300px;
    }

#footer {
    background-color: lightgreen;
    height: 50px;
    line-height: 50px;
}

